<h1>Books</h1>
<teble>
  <th>title</th>
  <th>body</th>

  <td></td>
  <td></td>
  <td><%= link_to 'Show', books_path %></td>
  <td><%= link_to 'Edit', books_path %></td>
  <td><%= link_to 'Destroy', books_path %></td>
</teble>